p {
    color: #FFFFFF;
    font-size: 15px;
}

h1 {
    color: mintcream;
    font-size: 30px;
    text-align: center;
}

h2 {
    font-size: 25px;
    color: black;
}

body {
    background-color: seagreen;
    font-family: Futura, Calibri, sans-serif;
    color: #FFFFFF;
    width: 800px;
    margin-left: 400px;
}

li {
    list-style-type: square;
    list-style-position: inside;
    padding: 2px;
}

a {
    color: lightgray;
    text-decoration: none;
}

ul {
    font-style: italic;
}

table, tr, th, td {
    border: 2px black solid;
    border-collapse: collapse;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th {
    width: 200px;
    background-color: mediumseagreen;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: darkseagreen;
}

#most-favorite-food {
    text-decoration: underline;
}

#page-title {
    font-style: oblique;
    font-size: 40px;
}

#favorite-music-name {
    text-shadow: 1px 1px;
}

#favorite-movie-title {
    text-shadow: 1px 1px;
}

.desserts {
    text-transform: uppercase;
}

.favorite-section {
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}

.section-header {
    font-size: 28px;
    font-variant: small-caps;
}

.favorite-image {
    border-radius: 6px;
    max-width: 100%;
    height: auto;
}